.DS_Store
*/.DS_Store
README-OLD-CryptoKitties-Clone.md
README-UpgradeGuide.txt
build/
node_modules/
truffle-config.js
.secret

# OpenZeppelin
#.openzeppelin/unknown-*.json
.openzeppelin/dev-*.json
.openzeppelin/.session
